<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @decision.username %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @decision.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @decision.comment %>
</p>

<p>
  <strong>Criterion:</strong>
  <%= @decision.criterion_id %>
</p>

<p>
  <strong>Alternative:</strong>
  <%= @decision.alternative_id %>
</p>

<p>
  <strong>Agreed decision:</strong>
  <%= @decision.agreed_decision_id %>
</p>

<%= link_to 'Edit', edit_decision_path(@decision) %> |
<%= link_to 'Back', decisions_path %>
