<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="createProb">
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :title %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.text_field :title %><!--<input type="text" class="form-control" id="mcd">-->
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :description %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.text_area :description %><!--<textarea class="form-control" rows="5" id="comment"></textarea>-->
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :creator %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.text_field :creator %><!--<input type="text" class="form-control" id="mcd">-->
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :algorithm_id %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.number_field :algorithm_id %>
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :obligatoryComments %><br>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.check_box :obligatoryComments %>
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-3 text-left">
    <%= link_to "Home", root_path, class: "buttons btn btn-danger" %>
   <!-- <a href="#" class="btn btn-danger" role="button">Back</a>-->
  </div>
  <div class="col-sm-3 text-centre">

  </div>
  <div class="col-sm-3 text-right">
    <div class="btn btn-success" role="button" id="btnToAlternatives">Next</div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>
  
</div>



<!-- C R E A T E   A L T E R N A T I V E -->
  

<%= f.fields_for :alternatives do |builder| %>
<div id="createAlt">
  <div class="row">
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
      <div class="col-sm-10 text-centre label-area">
        <p>Define Alternatives</p>
      </div>
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
  </div>

  <div class="row" id="row-input">
    <div class="col-sm-1 sidenav sidewhite">
        
    </div>
      <div class="col-sm-8 text-centre">
        <%= builder.text_field :title %><!--<input type="text" class="form-control" id="textalt">-->
      </div>
      <div class="col-sm-2 text-centre">
          <div href="#" class="btn btn-success btn-lg" id="add-alternative" style="border-radius: 50%">
              <span class="glyphicon glyphicon-plus" ></span>
          </div>
      </div>
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
</div>

<div class="row">
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
      <div class="col-sm-9 text-centre">
        <div class="form-group">
              <%= builder.text_area :description %>
              
            <!--  
              <textarea class="form-control" rows="2" id="alt-description" placeholder="Enter description of criterion here..."></textarea>
            -->
            </div>
      </div>
      <div class="col-sm-1 text-centre">
           
      </div>
      <div class="col-sm-1 sidenav sidewhite">
        
      </div>
</div>
  
  <div class="row">
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-danger" id="btnBackToProblem">Back</div>
      </div>
      <div class="col-sm-4 text-centre">
        <p></p>
      </div>
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-success" id="btnToCriteria">
          Next
        </div>
      </div>
</div>
  
</div>


<% end %>
  
  
<!-- C R E A T E   C R I T E R I A ! ! ! -->

<%= f.fields_for :criterions do |builder| %>
<div id="createCrit">
<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Define Criteria</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row" id="row-input-crit">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-8 text-centre">
    <%= builder.text_field :title %>
    <!--
    <input type="text" class="form-control" id="textcrit" placeholder="Enter new criterion here..">
    -->
  </div>
  <div class="col-sm-2 text-centre">
      <div class="btn btn-success btn-lg" id="add-criterion" style="border-radius: 50%">
          <span class="glyphicon glyphicon-plus" ></span>
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-9 text-centre">
    <div class="form-group">
          <%= builder.text_area :description %>
          <!--<textarea class="form-control" rows="2" id="description" placeholder="Enter description of criterion here..."></textarea>
          -->
        </div>
  </div>
  <div class="col-sm-1 text-centre">
       
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-4 text-centre label-area">
    <%= builder.label :priority %>
  </div>
  <div class="col-sm-6 text-centre">
    <%= builder.number_field :priority %>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>


  
  <div class="row">
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-danger" id="btnBackToAlternatives">Back</div>
      </div>
      <div class="col-sm-4 text-centre">
        <p></p>
      </div>
      <div class="col-sm-4 sidenav sidewhite">
        <div class="buttons btn btn-success" id="btnToOverview">
          Next
        </div>
      </div>
</div>
  
</div>

<% end %>

  
  
<!-- O V E R A L L    O V E R V I E W -->

<div id="overview">
  <div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Overview</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-3 text-centre label-area">
    <p>Title</p>
  </div>
  <div class="col-sm-7 text-centre">
      <div class="resultArea" id="resultProblemTitle">
        $newProblem.title
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-3 text-centre label-area">
    <p>Description</p>
  </div>
  <div class="col-sm-7 text-centre">
      <div class="resultArea" id="resultProblemDescription">
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>


<div class="row">
  <div class="col-sm-1 holder">
 
  </div>
  <div class="col-sm-10 holder" id="resultAlternatives">
 
  </div>
  <div class="col-sm-1 holder">
 
  </div>
</div>


<div class="row">
  <div class="col-sm-1 holder">
 
  </div>
  <div class="col-sm-10 holder" id="resultCriteria">
 
  </div>
  <div class="col-sm-1 holder">
 
  </div>
</div>


<div class="row">
  <div class="col-sm-4 sidenav sidewhite">
    <div class="buttons btn btn-danger" id="btnBackToCriteria">Back</div>
  </div>
  <div class="col-sm-4 text-centre">
    <p></p>
  </div>
  <div class="col-sm-4 sidenav sidewhite">
    <p><%= f.submit "Finish", class: "buttons btn btn-success" %></p>
  </div>
</div>

</div>

<% end %>