<%= form_for(@problem) do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="createProb">
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :title %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.text_field :title %><!--<input type="text" class="form-control" id="mcd">-->
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :description %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.text_area :description %><!--<textarea class="form-control" rows="5" id="comment"></textarea>-->
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :creator %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.text_field :creator %><!--<input type="text" class="form-control" id="mcd">-->
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :algorithm_id %>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.number_field :algorithm_id %>
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
    <div class="col-sm-4 text-centre label-area">
      <%= f.label :obligatoryComments %><br>
    </div>
    <div class="col-sm-6 text-centre">
      <%= f.check_box :obligatoryComments %>
    </div>
    <div class="col-sm-1 sidenav sidewhite">
      
    </div>
  </div>
  
  <div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-3 text-left">
    <%= link_to "Home", root_path, class: "buttons btn btn-danger" %>
   <!-- <a href="#" class="btn btn-danger" role="button">Back</a>-->
  </div>
  <div class="col-sm-3 text-centre">

  </div>
  <div class="col-sm-3 text-right">
    <div class="btn btn-success" role="button" id="btnToAlternatives">Next</div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>
  
</div>

<% end %>


<!-- C R E A T E   A L T E R N A T I V E -->

<%= render 'alternatives/form' %>
  
<!-- C R E A T E   C R I T E R I A ! ! ! -->

<%= render 'criterions/form' %>
  
<!-- O V E R A L L    O V E R V I E W -->

<div id="overview">
  <div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-10 text-centre label-area">
    <p>Overview</p>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-3 text-centre label-area">
    <p>Title</p>
  </div>
  <div class="col-sm-7 text-centre">
      <div class="resultArea" id="resultProblemTitle">
        $newProblem.title
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>

<div class="row">
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
  <div class="col-sm-3 text-centre label-area">
    <p>Description</p>
  </div>
  <div class="col-sm-7 text-centre">
      <div class="resultArea" id="resultProblemDescription">
      </div>
  </div>
  <div class="col-sm-1 sidenav sidewhite">
    
  </div>
</div>


<div class="row">
  <div class="col-sm-1 holder">
 
  </div>
  <div class="col-sm-10 holder" id="resultAlternatives">
 
  </div>
  <div class="col-sm-1 holder">
 
  </div>
</div>


<div class="row">
  <div class="col-sm-1 holder">
 
  </div>
  <div class="col-sm-10 holder" id="resultCriteria">
 
  </div>
  <div class="col-sm-1 holder">
 
  </div>
</div>


<div class="row">
  <div class="col-sm-4 sidenav sidewhite">
    <div class="buttons btn btn-danger" id="btnBackToCriteria">Back</div>
  </div>
  <div class="col-sm-4 text-centre">
    <p></p>
  </div>
  <div class="col-sm-4 sidenav sidewhite">
    <%= link_to "Finish", '#', class: "buttons btn btn-success" %>
  </div>
</div>

</div>