<p id="notice"><%= notice %></p>

<h1>Listing Problems</h1>

<div class="row content" id="show-table-head">
    <div class="col-sm-4 sidenav show-table-header">
      Title
    </div>
    <div class="col-sm-4 sidenav show-table-header">
      Creator
    </div>
    <div class="col-sm-4 sidenav show-table-header">
      Show
    </div>
</div>

  <% @problems.each do |problem| %>  
    <div class="row content center show-table-row">
        <div class="col-sm-4 sidenav show-table-cell">
          <%= problem.title %>
        </div>
        <div class="col-sm-4 sidenav show-table-cell">
          <%= problem.creator %>
        </div>
        <div class="col-sm-4 sidenav show-table-cell">
            <div><%= link_to 'Show', problem, class: "buttons btn" %></div>
        </div>
    </div>
<% end %>

<br>

<%= link_to "Create MCD!", new_problem_path, class: "buttons btn btn-lg btn-primary" %>
